<ion-header>
  <ion-toolbar>
    <ion-title>
      Legjislaturat
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Mbyll</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid padding>
    
    <!-- <h3 class="mainTitleModal">Drejtues në Vite</h3> -->
    <ion-row class="underline" *ngFor="let legjislaturat of legjislaturatList">
      <ion-col class="nameTable" *ngIf="(legjislaturat[0]!='')">{{legjislaturat[0]}}</ion-col>
      <ion-col class="postiTable" [ngClass]="(legjislaturat[0]=='')?'tableSeparator':''">{{legjislaturat[1]}}</ion-col>
    </ion-row> 

  </ion-grid>   
</ion-content>  