<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gjetjet Kryesore</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

  <ion-card *ngFor="let post of postsList" (click)="viewPost(post)">
    <ion-item >
      <h2>{{post.post_title}}</h2>
      <p>{{post.post_date_gmt}}</p>
    </ion-item>

    <img *ngIf="post.thumbnail" src="assets/img/1.png" />
    <!-- <img src="assets/img/1.png"/> -->

    <ion-card-content>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
